<div class="container-fluid">
  <h1>{{title}}</h1>
  <div class="container">
    <form [formGroup]='categoryForm' (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <input
              type="text"
              id="description"
              formControlName="description"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="type">Type</label>
            <select class="custom-select custom-select-sm" 
            id="type"
            formControlName="type"
            class="form-control">
              <option type boolean selected value=true>Gasto</option>
              <option type boolean value=false>Ingreso</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success mr-2"
            [disabled]="!categoryForm.valid">Save</button>
          <button type="button" class="btn btn-info mr-2" (click)="onCancel()">Cancel</button>
          <button *ngIf = 'category.id === 0'  type="button" class="btn btn-danger mr-2" (click)="onReset()">Clean</button>
        </div>
      </div>
    </form>  
  </div>
</div>

